@import url("https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:300,400,600");
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
  padding: 0;
}
body * {
  font-weight: 300;
}
section {
  height: 100vh;
}
h1 {
  font-size: 3em;
}
h3 {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0.75em 0;
}
p {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}
a {
  color: inherit;
  transition: color 0.5s;
  text-decoration: none;
}
a:hover {
  color: #333;
}
p.sans {
  font-family: inherit;
}
#app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#toast {
  visibility: hidden;
  max-width: 350px;
  background-color: #d3d3d3;
  border-radius: 5px;
  padding: 0.75em;
  position: fixed;
  z-index: 1;
  right: 2em;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#toast.show {
  visibility: visible;
  animation: toastin 3s, toastout 3s 4s;
}
#toast span:first-of-type {
  text-align: center;
  font-size: 3em;
}
#toast span:last-of-type {
  padding: 0 1em;
}
.logo-wrapper {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein 3.5s;
}
.logo-wrapper img {
  width: auto;
  height: 60%;
  padding: 0;
  margin: 0;
}
.logo-wrapper a {
  margin-right: 1.5vw;
}
.logo-wrapper a:last-of-type {
  margin: 0;
}
.one-quarter {
  flex: 1 25%;
}
.one-third {
  flex: 1 33.3333%;
}
.half {
  flex: 1 50%;
}
.two-thirds {
  flex: 1 66.6666%;
}
.three-quarters {
  flex: 1 75%;
}
.full {
  flex: 1 100%;
}
.last {
  order: 9999;
}
.first {
  order: 1;
}
.right {
  right: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.top {
  align-self: flex-start;
}
.middle {
  align-self: center;
}
.bottom {
  align-self: flex-end;
}
.graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graphic > * {
  width: 20em;
}
.graphic img {
  border-radius: 10px;
  margin-bottom: 1em;
}
.graphic p {
  text-align: center;
  padding: 0 1em;
  margin: 0;
  font-size: 0.9em;
}
.content-box {
  margin: 0;
  padding: 0 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-box:nth-of-type(2n) {
  background-color: #f6f6f6;
}
.content-box > * {
  max-height: 80%;
  padding: 2em;
}
.content {
  flex: 1;
  overflow: hidden;
  position: relative;
}
.content i {
  position: absolute;
  animation: movedown 2s;
  right: 1em;
  top: 1em;
  color: #fa8072;
}
.content p:after {
  content: '\A\A';
  white-space: pre;
}
@media only screen and (max-width: 450px) {
  #toast {
    max-width: 100vw;
    top: 0;
    right: unset;
    margin: 0;
    padding: 5vh 5vw;
    border-radius: 0;
  }
  #toast.show {
    animation: toastinmobile 3s, toastoutmobile 3s 4s;
  }
  .logo-wrapper img {
    width: 75vw;
    height: auto;
  }
  .logo-wrapper a {
    margin-right: 10vw;
  }
  .content-box {
    flex-direction: column;
    height: unset;
    margin: 0;
  }
  .content-box > * {
    padding: unset;
  }
  .content {
    overflow: unset;
    text-align: center;
    padding: 0 5vw 10vh;
  }
  .content i {
    position: static;
    margin-bottom: 18px;
  }
  .graphic {
    order: -100;
  }
  .graphic img {
    border-radius: 0;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes movedown {
  0% {
    top: -2em;
  }
  100% {
    top: 1em;
  }
}
@-webkit-keyframes movedown {
  0% {
    top: -2em;
  }
  100% {
    top: 1em;
  }
}
@-o-keyframes movedown {
  0% {
    top: -2em;
  }
  100% {
    top: 1em;
  }
}
@keyframes movedown {
  0% {
    top: -2em;
  }
  100% {
    top: 1em;
  }
}
@-moz-keyframes toastin {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 2em;
    opacity: 1;
  }
}
@-webkit-keyframes toastin {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 2em;
    opacity: 1;
  }
}
@-o-keyframes toastin {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 2em;
    opacity: 1;
  }
}
@keyframes toastin {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 2em;
    opacity: 1;
  }
}
@-moz-keyframes toastinmobile {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes toastinmobile {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes toastinmobile {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes toastinmobile {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes toastout {
  from {
    right: 2em;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
@-webkit-keyframes toastout {
  from {
    right: 2em;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
@-o-keyframes toastout {
  from {
    right: 2em;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
@keyframes toastout {
  from {
    right: 2em;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
@-moz-keyframes toastoutmobile {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes toastoutmobile {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@-o-keyframes toastoutmobile {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes toastoutmobile {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
